vs
node_modules
v2
FileContentIndex
*.dll
bin
.vs
obj
package-lock
*.sql
.user
*.user
packages
build
/EmployeePortal/ClientApp/package-lock.json
/EmployeePortal/static/js
/EmployeePortal/static/css
/EmployeePortal/asset-manifest.json
/EmployeePortal/favicon.ico
/EmployeePortal/index.html
/EmployeePortal/manifest.json
/package-lock.json
