.alertDialog {
    position: relative;
    z-index: 1000;
}

.alertClose {
    color: darkred;
    font-weight: 900;
}

.modal-header {
    border-bottom: 1px solid #dee2e6 !important;
    background-image: linear-gradient(to left, rgb(89, 171, 248), rgb(84, 129, 160));
    padding: 4px 1rem !important;
}

.modal-footer {
    border-top: 0px solid #dee2e6 !important;
}
