.customGrid {
    flex: 1 1 0%;
    box-sizing: border-box;
    position: relative;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    outline: none;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    border: 2px solid rgb(224, 224, 224);
    max-height: 490px !important;
    height: 490px !important;
}

    .customGrid table tbody {
        overflow-x: hidden !important;
        overflow-y: auto !important;
        max-height: 350px !important;
        height: 350px !important;
        width: 100%;
        max-width: 100%;
        display: block;
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }

        .customGrid table tbody::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }

    .customGrid thead, tr {
        display: table; /* display purpose; th's border */
        width: 100%;
    }

.gridHeader {
    table-layout: fixed;
}

    .gridHeader th {
        background-color: #fff;
        border-top: 1px solid rgb(224, 224, 224) !important;
        border-bottom: 1px solid rgb(224, 224, 224) !important;
        border-left: 0px solid rgb(224, 224, 224) !important;
        border-right: 0px solid rgb(224, 224, 224) !important;
        max-width: 50px !important;
        width: 50px;
        position: relative;
        padding: 10px !important;
        padding-right: 0 !important;
        vertical-align: top !important;
    }

        .gridHeader th div {
            position: relative;
        }

    .gridHeader span {
        width: 2px;
        background-color: rgb(224, 224, 224);
        position: absolute;
        right: -3px;
        top: 0px;
        bottom: 0px;
        z-index: 10;
        padding: 0 !important
    }

.searchHeader {
    table-layout: fixed;
}

    .searchHeader th {
        background-color: #fff;
        border-top: 0px solid rgb(224, 224, 224) !important;
        border-bottom: 1px solid rgb(224, 224, 224) !important;
        border-left: 0px solid rgb(224, 224, 224) !important;
        border-right: 0px solid rgb(224, 224, 224) !important;
        max-width: 50px !important;
        width: 50px;
        position: relative;
        padding: 0px !important;
        padding-left: 10px !important;
        padding-bottom: 5px !important;
        vertical-align: top !important;
        line-height: 0.5 !important;
        table-layout: fixed;
    }

        .searchHeader th div {
            position: relative;
        }

.gridRows:first-child {
    border-top: 0px solid rgb(224, 224, 224) !important;
}

    .gridRows:first-child td {
        border-top: 0px solid rgb(224, 224, 224) !important;
    }

.gridRows:last-child {
    border-bottom: 1px solid rgb(224, 224, 224) !important;
}

.gridRows td {
    border-top: 1px solid rgb(224, 224, 224) !important;
    border-bottom: 0px solid rgb(224, 224, 224) !important;
    border-left: 0px solid rgb(224, 224, 224) !important;
    border-right: 0px solid rgb(224, 224, 224) !important;
    max-width: 50px !important;
    width: 50px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    flex: 1;
    padding: 10px !important;
    padding-right: 0px !important;
}

    .gridRows td div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

table {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

td.col1width25, th.col1width25 {
    width: 25px !important;
    max-width: 25px !important;
}

.changePassword.MuiButton-root:hover, .edit.MuiButton-root:hover {
    background-color: transparent !important;
}

.pointer {
    cursor: pointer !important;
}

.inline-display {
    display: inline-block !important;
}

.updown-icon {
    text-shadow: 1px 1px 1px #ccc;
    font-size: 15px !important;
    margin-left: 10px !important;
}

    .updown-icon.inactive {
        color: #ccc !important;
    }

.searchDiv {
    align-items: center !important;
    display: inline-table;
    justify-content: left;
    color: #fff;
}

.searchInput {
    width: 70% !important;
    height: 100% !important;
    color: rgba(0, 0, 0);
    font-weight: 400;
    border-color: #dee2e6 !important;
    border-radius: 4px;
    border-width: 1px;
}

.globalSearchDiv {
    display: block !important;
    padding: 8px !important;
    padding-right: 0 !important;
    margin: 0 !important;
}

input.globalSearch {
    width: 25% !important;
    color: rgba(0, 0, 0);
    font-weight: 400;
    border-color: #dee2e6 !important;
    border-radius: 4px;
    border-width: 1px;
    float: right !important;
}

input[type="text" i].globalSearch, input[type="text" i].searchInput {
    padding: 1px 5px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}

@media (max-width: 420px) {
    .customGrid {
        max-height: 450px !important;
        height: 450px !important;
    }

        .customGrid table tbody {
            max-height: 345px !important;
            height: 345px !important;
        }

    .gridHeader th {
        padding-top: 4px !important;
        padding-bottom: 0px !important;
        padding-left: 5px !important;
        border-top: 0px !important;
        border-bottom: 0px !important;
        max-width: 25px !important;
        width: 25px;
    }

    .searchHeader th {
        padding: 3px !important;
        padding-left: 5px !important;
        border-top: 1px solid rgb(224, 224, 224) !important;
        border-bottom: 1px solid rgb(224, 224, 224) !important;
    }

    .gridRows td {
        padding-top: 4px !important;
        padding-bottom: 5px !important;
        padding-left: 5px !important;
        padding-right: 0px !important;
        max-width: 25px !important;
        width: 25px;
    }

    .updown-icon {
        margin-left: 2px !important;
        font-size: 10px !important;
    }

    .searchInput {
        width: 70% !important;
        height: 25% !important;
        padding-left: 2px;
        padding-right: 2px;
    }

    input.globalSearch {
        width: 30% !important;
        height: 100% !important;
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media (min-width: 370px) and (max-width: 600px) {
    .searchHeader th {
        border-bottom: 1px solid rgb(224, 224, 224) !important;
    }

    .page-padding {
        padding-top: 15px !important;
    }
}

@media (max-width: 900px) {
    .searchHeader th {
        border-bottom: 1px solid rgb(224, 224, 224) !important;
    }

    input.globalSearch {
        height: 100% !important;
    }
}
