.customGrid {
    flex: 1 1 0%;
    box-sizing: border-box;
    position: relative;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.0010em;
    outline: none;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    border: 2px solid rgb(224, 224, 224);
}

    .customGrid table tbody {
        overflow-x: hidden !important;
        overflow-y: auto !important;
        max-height: 400px !important;
        height: 400px !important;
        width: 100%;
        max-width: 100%;
    }

        .customGrid table::-webkit-scrollbar, .customGrid table tbody::-webkit-scrollbar {
            height: 4px !important;
            width: 4px !important;
            border: 1px solid #d5d5d5;
            border-start-end-radius: 2px;
        }

        /* Track */
        .customGrid table::-webkit-scrollbar-track, .customGrid table tbody::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        .customGrid table::-webkit-scrollbar-thumb, .customGrid table tbody::-webkit-scrollbar-thumb {
            background: #888;
        }

            /* Handle on hover */
            .customGrid table::-webkit-scrollbar-thumb:hover, .customGrid table tbody::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

    .customGrid thead, tr {
        display: table; /* display purpose; th's border */
        width: 100%;
    }

.gridHeader {
    table-layout: fixed;
}

    .gridHeader th {
        background-color: #fff;
        border-top: 1px solid rgb(224, 224, 224) !important;
        border-bottom: 1px solid rgb(224, 224, 224) !important;
        border-left: 0px solid rgb(224, 224, 224) !important;
        border-right: 0px solid rgb(224, 224, 224) !important;
        position: relative;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        padding-right: 0 !important;
        padding-left: 0px !important;
        max-width: 200px !important;
        width: 200px;
        vertical-align: top !important;
    }

        .gridHeader th div {
            max-width: 200px !important;
            width: 200px;
            position: relative;
            padding-left: 10px !important;
        }

    .gridHeader span {
        width: 2px;
        background-color: rgb(224, 224, 224);
        position: absolute;
        right: -3px;
        top: 8px;
        bottom: 8px;
        z-index: 10;
        padding: 0 !important
    }

.searchHeader {
    table-layout: fixed;
}

    .searchHeader th {
        background-color: #fff;
        border-top: 0px solid rgb(224, 224, 224) !important;
        border-bottom: 1px solid rgb(224, 224, 224) !important;
        border-left: 0px solid rgb(224, 224, 224) !important;
        border-right: 0px solid rgb(224, 224, 224) !important;
        position: relative;
        padding-top: 5px !important;
        padding-left: 0px !important;
        padding-bottom: 5px !important;
        padding-right: 0px !important;
        vertical-align: top !important;
        line-height: 0.5 !important;
        max-width: 200px !important;
        width: 200px;
        table-layout: fixed;
    }

        .searchHeader th div {
            max-width: 200px !important;
            width: 200px;
            position: relative;
            padding-left: 20px !important;
        }

.gridRows:first-child {
    border-top: 0px solid rgb(224, 224, 224) !important;
}

    .gridRows:first-child td {
        border-top: 0px solid rgb(224, 224, 224) !important;
    }

.gridRows:last-child {
    border-bottom: 1px solid rgb(224, 224, 224) !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.gridRows td {
    border-top: 1px solid rgb(224, 224, 224) !important;
    border-bottom: 0px solid rgb(224, 224, 224) !important;
    border-left: 0px solid rgb(224, 224, 224) !important;
    border-right: 0px solid rgb(224, 224, 224) !important;
    flex: 1;
    padding: 0 !important;
    max-width: 200px !important;
    width: 200px;
}

    .gridRows td div {
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        max-width: 200px !important;
        width: 200px;
        padding: 10px !important;
        padding-right: 0px !important;
        padding-left: 25px !important;
    }

table {
    overflow-x: auto !important;
    overflow-y: auto !important;
    display: inline-grid !important;
}

.col1width25 {
    width: 25px !important;
    max-width: 25px !important;
}

.col1width40 {
    width: 40px !important;
    max-width: 40px !important;
}

.col1width45 {
    width: 45px !important;
    max-width: 45px !important;
}

.col1width75 {
    width: 75px !important;
    max-width: 75px !important;
}

.col1width125 {
    width: 125px !important;
    max-width: 125px !important;
}

.float-rt {
    float: right;
}

.float-lt {
    float: left;
}

option {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0px !important;
}

.changePassword.MuiButton-root:hover, .edit.MuiButton-root:hover {
    background-color: transparent !important;
}

.pointer {
    cursor: pointer !important;
}

.inline-display {
    display: inline-block !important;
}

.updown-icon {
    text-shadow: 1px 1px 1px #ccc;
    font-size: 15px !important;
    margin-left: 10px !important;
}

    .updown-icon.inactive {
        color: #ccc !important;
    }

.searchDiv {
    align-items: center !important;
    display: inline-block;
    justify-content: left;
    color: #fff;
}

.searchInput {
    width: 70% !important;
    height: 100% !important;
    color: rgba(0, 0, 0);
    font-weight: 400;
    border-color: #dee2e6 !important;
    border-radius: 4px;
    border-width: 1px;
}

.globalSearchDiv {
    display: block !important;
    padding: 8px !important;
    padding-right: 0 !important;
    margin: 0 !important;
}

input.globalSearch {
    width: 25% !important;
    color: rgba(0, 0, 0);
    font-weight: 400;
    border-color: #dee2e6 !important;
    border-radius: 4px;
    border-width: 1px;
    float: right !important;
    height: unset !important;
}

.pagerSelect {
    max-width: 55px !important;
    width: 30% !important;
    border-radius: 4px;
    height: 24px !important;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

input[type="text" i].globalSearch, input[type="text" i].searchInput {
    padding: 1px 5px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table td a.changePassword, button.changePassword {
    color: rgb(15, 255, 7) !important;
    min-width: fit-content !important;
}

table.table td a.view, button.view {
    color: #03A9F4;
    min-width: fit-content !important;
}

table.table td a.edit, button.edit {
    color: #FFC107;
    min-width: fit-content !important;
}

table.table td a.delete, button.delete {
    color: #E34724;
    min-width: fit-content !important;
}

.align-center {
    display: flex;
    align-items: center;
}

.pagination {
    float: right;
    padding-right: 15px !important
}

    .pagination li a {
        color: rgba(0, 0, 0, 0.87) !important;
    }

    .pagination > .active > a {
        color: #fff !important;
    }

    .pagination li a {
        border: 0;
        font-size: 70%;
        width: 20px;
        height: 20px;
        color: #999;
        margin: 0 1px;
        line-height: 20px;
        border-radius: 20px !important;
        text-align: center;
        padding: 0;
    }

        .pagination li a:hover {
            color: #666;
        }

    .pagination li.active a {
        background: #03A9F4;
    }

        .pagination li.active a:hover {
            background: #0397d6;
        }

    .pagination li.disabled i {
        color: #ccc;
    }

    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }

    .pagination > li > .remove-bg-color:focus, .pagination > li > .remove-bg-color:hover {
        background-color: #ffff !important;
        box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
    }

i {
    font-family: FontAwesome !important;
}

@media (max-width: 420px) {

    .customGrid table tbody {
        max-height: 345px !important;
        height: 345px !important;
    }

    .gridHeader th {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        padding-left: 0px !important;
        border-top: 0px !important;
        border-bottom: 0px !important;
        max-width: 75px !important;
        width: 75px;
    }

        .gridHeader th div {
            max-width: 75px !important;
            width: 75px;
            padding-left: 6px !important;
        }

    .searchHeader th {
        padding: 5px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        border-top: 1px solid rgb(224, 224, 224) !important;
        border-bottom: 1px solid rgb(224, 224, 224) !important;
        max-width: 75px !important;
        width: 75px;
    }

        .searchHeader th div {
            max-width: 75px !important;
            width: 75px;
        }

    .gridRows td {
        padding-top: 4px !important;
        padding-bottom: 5px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        max-width: 75px !important;
        width: 75px;
    }

        .gridRows td div {
            max-width: 75px !important;
            width: 75px;
            padding-left: 12px !important;
        }

    .updown-icon {
        margin-left: 4px !important;
        font-size: 10px !important;
    }

    .searchInput {
        width: 70% !important;
        height: 25% !important;
        padding-left: 2px;
        padding-right: 2px;
    }

    input.globalSearch {
        width: 30% !important;
        height: 100% !important;
        padding-left: 2px;
        padding-right: 2px;
    }

    .pagination {
        padding-right: 0px !important
    }

        .pagination li a {
            height: 11px !important;
            width: 11px !important;
            line-height: 11px !important;
        }

        .pagination li i {
            font-size: 11px !important;
            padding-top: 2px !important;
        }

    .pagerSelect {
        height: 15px !important;
    }

    .col1width50 {
        width: 50px !important;
        max-width: 50px !important;
    }
}

@media (min-width: 370px) and (max-width: 600px) {
    .searchHeader th {
        border-bottom: 1px solid rgb(224, 224, 224) !important;
    }

    .page-padding {
        padding-top: 2px !important;
    }
}

@media (max-width: 900px) {
    .searchHeader th {
        border-bottom: 1px solid rgb(224, 224, 224) !important;
    }

    input.globalSearch {
        height: 100% !important;
    }

    .page-padding {
        padding-top: 2px !important;
    }
}
