.customGrid {
    flex: 1 1 0%;
    box-sizing: border-box;
    position: relative;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    outline: none;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    border: 2px solid rgb(224, 224, 224);
    max-height: 455px !important;
    height: 455px !important;
}

    .customGrid table tbody {
        overflow-x: hidden !important;
        overflow-y: auto !important;
        max-height: 350px !important;
        height: 350px !important;
        width: 100%;
        max-width: 100%;
        display: block;
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }

        .customGrid table tbody::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }

    .customGrid thead, tr {
        display: table; /* display purpose; th's border */
        width: 100%;
    }

.gridHeader th {
    background-color: #fff;
    border-top: 1px solid rgb(224, 224, 224) !important;
    border-bottom: 1px solid rgb(224, 224, 224) !important;
    border-left: 0px solid rgb(224, 224, 224) !important;
    border-right: 0px solid rgb(224, 224, 224) !important;
    max-width: 50px !important;
    width: 50px;
    position: relative;
    padding: 10px !important;
    padding-right: 0 !important;
}

.gridRows td {
    border-top: 1px solid rgb(224, 224, 224) !important;
    border-bottom: 1px solid rgb(224, 224, 224) !important;
    border-left: 0px solid rgb(224, 224, 224) !important;
    border-right: 0px solid rgb(224, 224, 224) !important;
    max-width: 50px !important;
    width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
    padding: 10px !important;
}

    .gridRows td div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

.gridHeader div {
    position: relative;
}

.gridHeader span {
    width: 2px;
    background-color: rgb(224, 224, 224);
    position: absolute;
    right: -3px;
    top: 0px;
    bottom: 0px;
    z-index: 10;
    padding: 0 !important
}

td.col1width25, th.col1width25 {
    width: 25px !important;
    max-width: 25px !important;
}

.changePassword.MuiButton-root:hover, .edit.MuiButton-root:hover {
    background-color: transparent !important;
}

@media (max-width: 400px) {
    .customGrid {
        max-height: 430px !important;
        height: 430px !important;
    }

        .customGrid table tbody {
            max-height: 345px !important;
            height: 345px !important;
        }
}

.pointer {
    cursor: pointer !important;
}

.inline-display {
    display: inline-block !important;
}

.updown-icon {
    text-shadow: 1px 1px 1px #ccc;
    font-size: 15px !important;
    margin-left: 10px !important;
}
    .updown-icon.inactive {
        color: #ccc !important;
        
    }
