* {
    box-sizing: border-box;
}

a:hover, a:active, a:focus {
    /* styling for any way a link is about to be used */
    outline: 0;
}

input, select {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px !important;
}

select {
    padding-left: 10px;
    padding-right: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

    select::-ms-expand {
        display: none;
    }

    select.disabled-inputs {
        text-indent: -1px;
    }

.label-padding {
    padding-left: 10px;
    padding-right: 14px;
}

input, select {
    width: 90% !important;
    height: 100% !important;
    color: rgba(0, 0, 0);
    font-weight: 400;
    border-color: #bbb;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

input {
    padding-left: 10px;
    padding-right: 14px;
}

    input[type=button], input[type=submit], input[type=reset] {
        font-weight: bold;
        font-size: 12px;
        text-shadow: none;
        border-radius: 50px;
        line-height: 12px;
        margin-top: 5px;
    }

.inputWidth input, .inputWidth select {
    width: 95% !important;
}

.fullInputWidth input, .fullInputWidth select {
    width: 100% !important;
}

input[type=checkbox] {
    height: 18px !important;
    max-width: 10% !important;
    margin-left: 5px;
}

.link-icon {
    font-size: 16px !important;
    margin-left: 5px !important;
    color: #28a745;
}

.wrapperLink {
    position: relative;
}

.iconLink {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    right: 12%;
    transform: translateY(-50%);
}

.inputLink {
    box-sizing: border-box;
    padding-right: 1.5rem;
}

.disabled-inputs {
    pointer-events: none;
    color: rgb(0, 0, 0);
    border-style: none;
    padding-left: 0px;
    padding-right: 14px;
}

.float-rt {
    float: right;
}

.float-lt {
    float: left;
}

.txt-center {
    text-align: center;
}

.opacity-100 {
    opacity: 100%;
}

.margin-top-75 {
    margin-top: 75px;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-9 {
    padding-left: 9px;
    padding-right: 9px;
}

.table-wrapper {
    background: #fff;
    padding: 20px;
    margin: 15px 0;
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}

    .table-title h2 {
        margin: 8px 0 0;
        font-size: 22px;
    }

    .table-title .add-new {
        float: right;
        height: 30px;
        font-weight: bold;
        font-size: 12px;
        text-shadow: none;
        min-width: 100px;
        border-radius: 50px;
        line-height: 13px;
        margin-top: 5px;
    }

        .table-title .add-new i {
            margin-right: 4px;
        }

.container-width {
    width: 95vw;
    max-width: 95vw;
}

.navbar {
    border-radius: 0px !important;
}

.userName {
    height: 99.1%;
    text-align: center;
}

body {
    /*overflow: hidden !important;*/ /* Hide scrollbars */
    overflow-x: hidden !important;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

    body::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

.overflow-Y {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.icon-align-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 70% !important;
}

.alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.valignCenter {
    display: flex;
    align-items: center;
}

.align-page-center {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 100;
}

.loading-image {
    position: absolute;
    top: 40%;
    left: 47%;
    z-index: 101
}

.alert-Dialog {
    position: absolute;
    top: 25%;
    left: 1%;
    z-index: 101;
    width: 98%;
}

.profileImage {
    vertical-align: middle;
    border: 1px solid;
    max-width: 100%;
    height: auto;
}

hr.rounded {
    border-top: 1px solid #bbb;
    border-radius: 1px;
    height: 1px;
    width: 100%;
}

.react-datepicker-popper {
    z-index: 10 !important;
}

@media (max-width: 240px) {
    /* really tiny screens */

    input[type=text], select {
        width: 100px;
    }

    input[type=button], input[type=submit], input[type=reset] {
        min-width: 51px;
        height: 30px;
    }

    input[type=text], select, input[type=button], input[type=submit], input[type=reset], label, div, span {
        font-size: xx-small !important;
        vertical-align: middle;
    }
}

@media (min-width: 241px) and (max-width: 360px) {
    /* a little bit bigger screens */

    input[type=text], select {
        width: 125px;
        height: 25px;
    }

    input[type=button], input[type=submit], input[type=reset] {
        min-width: 51px;
        height: 30px;
    }

    .nowrap {
        flex-wrap: nowrap !important
    }

    input[type=text], select, input[type=button], input[type=submit], input[type=reset], label, div, span {
        font-size: 7px !important;
        vertical-align: text-bottom;
    }

    div, input, select, label {
        font-size: 7px !important;
    }
}

@media (min-width: 361px) and (max-width: 415px) {
    div, input, select, label {
        font-size: 8px !important;
    }
}

@media (min-width: 361px) and (max-width: 480px) {
    input[type=text], select {
        width: 175px;
        height: 25px;
    }

    .nowrap {
        flex-wrap: nowrap !important
    }

    input[type=text], select, input[type=button], input[type=submit], input[type=reset], label, div, span {
        font-size: x-small;
    }
}
@media (min-width: 480px) and (max-width: 600px) {
    input[type=text], select, input[type=button], input[type=submit], input[type=reset], label, div, span {
        font-size: smaller;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    /* Basically up to, but not including an iPad */

    input[type=text], select {
        width: 150px;
    }

    .nowrap {
        flex-wrap: nowrap !important
    }

    input[type=button], input[type=submit], input[type=reset] {
        min-width: 70px;
        height: 30px;
    } 
}

@media (min-width: 768px) and (max-width: 1000px) {
    input[type=text], select, input[type=button], input[type=submit], input[type=reset], label, div, span {
        font-size: small !important;
    }
}

@media (min-width: 768px) {
    /* iPad and bigger */

    input[type=text], select {
        width: 300px;
    }

    .nowrap {
        flex-wrap: nowrap !important
    }

    input[type=button], input[type=submit], input[type=reset] {
        min-width: 102px;
        height: 30px;
    }
}

@media (max-width: 524px) {
    .loading-image {
        left: 37% !important;
    }
}

@media (min-width: 416px) and (max-width: 600px) {
    div, input, select, label {
        font-size: 10px !important;
    }
}

@media (max-width: 600px) {
    .hidesidenav {
        display: none;
    }

    .table-title .add-new {
        height: 22px;
        min-width: 70px;
        font-size: 10px;
    }

    .link-icon {
        font-size: 8px !important;
        margin-left: 3px !important;
    }

    .iconLink {
        top: 49% !important;
        right: 18% !important;
    }
}

@media (min-width: 525px) and (max-width: 660px) {
    .loading-image {
        left: 42% !important;
    }
}

@media (min-width: 600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 580px !important;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .link-icon {
        font-size: 11px !important;
        margin-left: 3px !important;
    }

    .iconLink {
        top: 52% !important;
        right: 15% !important;
    }
}

@media (min-width: 700px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 680px !important;
    }
}

@media (min-width: 800px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 780px !important;
    }
}


@media (min-width: 900px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 880px !important;
    }
}

@media (min-width: 1000px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 980px !important;
    }
}


@media (max-width: 400px) {
    .tablemobile {
        display: inline-grid;
    }
}

@media (min-width: 401px) and (max-width: 950px) {
    .tablemobile {
        display: inline-grid;
    }
}

@media (max-width: 950px) {
    .tablemobile {
        overflow-x: auto;
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }

        .tablemobile::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }

    .tablemobileoverflowx {
        overflow-x: auto;
    }
}

@media (min-width: 1100px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1080px !important;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1180px !important;
    }
}

@media (min-width: 1350px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1250px !important;
    }
}

@media (min-width: 1450px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px !important;
    }
}

@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1550px !important;
    }
}

@media (min-width: 1700px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 98% !important;
    }
}
