a.navbar-brand {
    white-space: normal;
    word-break: break-all;
}

.navbar-light .navbar-nav .nav-link {
    color: gainsboro !important;
}

.text-gainsboro {
    color: gainsboro !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: gainsboro !important;
}

.navbar-nav > li > a {
    line-height: 5px !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.button-signout {
    font-weight: bold !important;
    font-size: 12px !important;
    text-shadow: none !important;
    border-radius: 50px !important;
    line-height: 12px !important;
    margin-top: 5px !important;
    padding: 10px !important;
}

.margin-rt10 {
    margin-right: 10px;
}

.margin-rt5 {
    margin-right: 5px;
}

.wrdbreak {
    word-break: keep-all !important
}

.theme1 {
    /*background-color: rgb(89, 171, 248);*/
    background-image: linear-gradient(to left, rgb(89, 171, 248), rgb(84, 129, 160));
}

.justifycontent-normal {
    justify-content: normal !important
}

.dropdown-divider {
    border-top: 1px solid #ddd !important;
    width: 75% !important;
}

.container-fluid {
    justify-content: normal !important;
}

.display-inline-table {
    display: inline-table !important;
}

.alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 241px) and (max-width: 360px) {
    /* a little bit bigger screens */
    .marginleft45 {
        margin-left: 45px !important
    }

    .marginleft40 {
        margin-left: 40px !important
    }

    .justifycontent-normal {
        justify-content: normal !important
    }
}

@media (min-width: 361px) and (max-width: 480px) {
    .justifycontent-normal {
        justify-content: normal !important
    }

    .marginleft50 {
        margin-left: 50px !important
    }

    .marginleft55 {
        margin-left: 55px !important
    }

    .margin-rt20 {
        margin-right: 20px !important;
    }

    .boxshadow {
        box-shadow: inset 0 0px 0 !important;
        -webkit-box-shadow: inset 0 0px 0 !important;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    /* Basically up to, but not including an iPad */

    .boxshadow {
        box-shadow: inset 0 0px 0 !important;
        -webkit-box-shadow: inset 0 0px 0 !important;
    }
}
